extends ../layout 
block content
    script(src="/js/detail.js")
    div
        strong ISBN
        span= BOOK.b_insbn
    div
        strong 도서명
        span 
    div
        strong 저자
        span 
    div
        strong 역자
        span 
    div
        strong 출판사
        span 
    div
        strong 가격
        span 
    div
        strong 할인가
        span 
    div
        strong 발행일
        span 
    div
        strong 페이지
        span 
    div
        strong 메모
        span 