extends ../layout 
block content 
    form.product(methode="POST") 
        fieldset 
            legend 상품입력
            div 
            div 
            div 
            div.img_box 
                img(src="/images/add_icon.svg",width="100px",height="100px", alt="추가아이콘") 
            div 