div.input {
  width: 50%;
  margin: 50px auto;
  outline: none;
}

input,
button {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin: 15px;
  padding: 15px 10px;
  border: 1.5px solid #aaa;
  border-radius: 5px;
}

button {
  background-color: dodgerblue;
  color: white;
}

button:hover {
  background-color: rgb(20, 102, 185);
}
