input {
  display: flex;
  margin: 5px auto;
}

input {
  padding: 10px 20%;
  border-radius: 5px;
  border: 1px solid black;
}
input.memo {
  padding: 12% 20%;
}

div.img_box input {
  padding: 10px 16%;
}
div.btn_box input {
  padding: 10px 10%;
}
