extends layout

block content
  link(rel="stylesheet", href="/css/memo.css")
  script(src="/js/detail.js")
  script(src="/js/main.js")
  body.main 
    h1 오늘은 내 생의 가장 젊은날
    div.main
      p= today 
      p= time 
      button 새로작성
      table.list
        div.list
          each item in Memolist
            span= item.m_seq 
    