.products {
  width: 80%;
  margin: 0 auto;
}

table.products {
  border-collapse: collapse;
  margin: 10px auto;
  th,
  td {
    text-align: left;
    padding: 6px 12px;
    white-space: nowrap;
    border-bottom: 1px solid black;
  }
}

td {
  color: #393939;
  cursor: pointer;
}
input,
button {
  cursor: pointer;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 3px 16px;
  font-weight: bold;
  margin: 5px 3px;
}
input {
  background-color: white;
  border: 1px solid black;
  color: black;
}

button {
  cursor: pointer;
}
.search {
  text-align: center;
}

button.add {
  margin-right: auto;
  background-color: greenyellow;
  float: right;
}
